* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
html, body { /* body and html */
    overflow-x: hidden; /* hide scroll to left */
    margin: 0; /* remove margin */
}
a { /* hrefs */
    text-decoration: none;
    width: 300px;
    height: 150px;
    color: black;
    position: absolute;
}
.buttons2 { /* 2nd row of buttons */
    margin-top: 20px;
}
#main { /* main area */
    transform: translate(500px);
}
#low { /* button area */
    background-color:#fff7ea;
    padding: 10px;
    margin-top: 30px;
}
#lowchild { /* button area, text and buttons */
    transform: translateX(510px);
    padding: 0px;
}
.set-buttons { /* all buttons */
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-right: 20px;
    transition: 0.5s ease-out;
    transition-property: all;
    position:relative;
}
.set-buttons:hover { /* hover on buttons to make animation */
    box-shadow: 0px 0px 15px 15px rgba(34, 60, 80, 0.1);
    background-image: linear-gradient(to right top,rgb(255, 255, 255), rgb(211, 211, 211));
    transform: scale(1.05);
    z-index: 1;
}
#buttons { /* all buttons */
    display: flex;
}
#button-body { /* description of a button */
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding-left: 10px;
    position: absolute;
}
#button-head { /* title of a button */
    font-size: 22px;
    font-weight: 50;
    line-height: 15px;
    padding-left: 10px;
}
#leg { /* made by zone */
    border-top: 1px solid black;
    margin-top: 30px;
}
#leg p { /* made by */
    padding-top: 5px;
    font-size: 12px;
    margin-left: 10px;
    font-weight: 1000;
}
img { /* logos for buttons */
    position:relative;
    margin-left: 240px;
    margin-bottom: 50px;
    border-radius: 10px;
}